.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    cursor: grab;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-scrollbar:active {
    cursor: grabbing;
}
